<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAr8OLtFnlROi4tQ_Q_XpmQceNy8asDU8</string>
	<key>GCM_SENDER_ID</key>
	<string>808000150731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.FashionCardRoulette</string>
	<key>PROJECT_ID</key>
	<string>fashioncardroulette</string>
	<key>STORAGE_BUCKET</key>
	<string>fashioncardroulette.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808000150731:ios:267fb7df27bbcdcd4c0f4e</string>
	<key>DATABASE_URL</key>
	<string>https://fashioncardroulette-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>